<div class="form-group">
	<label>qtdIteracoes:</label>
	<input type="text" name="qtdIteracoes" value="" class="form-control">
</div>
<div class="form-group">
	<label>geracoes:</label>
	<input type="text" name="geracoes" value="" class="form-control">
</div>
<div class="form-group">
	<label>tamanhoPopulacao:</label>
	<input type="text" name="tamanhoPopulacao" value="" class="form-control">
</div>
<div class="form-group">
	<label>qtdIndividuosElitismo:</label>
	<input type="text" name="qtdIndividuosElitismo" value="" class="form-control">
</div>
<div class="form-group">
	<label>taxaCruzamento:</label>
	<input type="text" name="taxaCruzamento" value="" class="form-control">
</div>
<div class="form-group">
	<label>taxaMutacao:</label>
	<input type="text" name="taxaMutacao" value="" class="form-control">
</div>