{{solucao}}

<div class="form-group">
	<label>qtdIteracoes:</label>
	<input type="text" name="qtdIteracoes" value="1" class="form-control">
</div>
<div class="form-group">
	<label>geracoes:</label>
	<input type="text" name="geracoes" value="1" class="form-control">
</div>
<div class="form-group">
	<label>tamanhoPopulacao:</label>
	<input type="text" name="tamanhoPopulacao" value="500" class="form-control">
</div>
<div class="form-group">
	<label>qtdIndividuosElitismo:</label>
	<input type="text" name="qtdIndividuosElitismo" value="5" class="form-control">
</div>
<div class="form-group">
	<label>taxaCruzamento:</label>
	<input type="text" name="taxaCruzamento" value="0.85" class="form-control">
</div>
<div class="form-group">
	<label>taxaMutacao:</label>
	<input type="text" name="taxaMutacao" value="0.05" class="form-control">
</div>