{% extends "shared/layout.html" %}

{% block title %} {{ super() }} {% endblock %}

{% block content %}

<h1>{{action}}</h1>

<form action="/{{action}}" method="post" enctype="multipart/form-data" accept="text/*">
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label>Qtd classes:</label>
				<input type="text" name="qtd_classes" value="2" class="form-control">
			</div>
			<div class="form-group">
				<label>Selecione o arquivo:</label>
				<input type="file" name="the_file" class="btn btn-default btn-block" />
			</div>
			{% include action + ".html" %}
			<div class="form-group">
				<input type="submit" value="Submit" class="btn btn-primary">
			</div>
		</div>
	</div>
</form> 

{% endblock %}